apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ .Values.service.name }} 
  labels:
    chart: "{{ .Chart.Name | trunc 63 }}"
    chartVersion: "{{ .Chart.Version | trunc 63 }}" 
    visualize: "true" 
    app: {{ .Values.service.name }} 
spec:
  replicas: {{ .Values.replicaCount }} 
  selector: 
    matchLabels:
      app: {{ .Values.service.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.service.name }}
        visualize: "true" 
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - {{ .Values.service.name }}
            topologyKey: "kubernetes.io/hostname"
      containers: 
      - name: {{ .Values.service.name }} 
        image: "{{ .Values.image.repository }}:{{ .Chart.Version }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env: 
        - name: UNFOLDING_WHITELIST 
          value: {{ .Values.env.UNFOLDING_WHITELIST }} 
        - name: WRITER_URI 
          value: {{ .Values.env.WRITER_URI }} 
        - name: WRITER_HEALTH_URI 
          value: {{ .Values.env.WRITER_HEALTH_URI }} 
        - name: CONTENT_RESOLVER_URI 
          value: {{ .Values.env.CONTENT_RESOLVER_URI }} 
        - name: CONTENT_RESOLVER_HEALTH_URI 
          value: {{ .Values.env.CONTENT_RESOLVER_HEALTH_URI }}
        - name: RELATIONS_RESOLVER_URI
          value: {{ .Values.env.RELATIONS_RESOLVER_URI }}
        - name: RELATIONS_RESOLVER_HEALTH_URI
          value: {{ .Values.env.RELATIONS_RESOLVER_HEALTH_URI }}
        - name: Q_WRITE_TOPIC 
          value: {{ .Values.env.Q_WRITE_TOPIC }} 
        - name: Q_ADDR 
          valueFrom: 
            configMapKeyRef: 
              name: global-config 
              key: kafka.proxy.url.with.protocol
        - name: REQUEST_TIMEOUT
          value: {{ .Values.env.REQUEST_TIMEOUT }}
        ports: 
        - containerPort: 8080 
        livenessProbe: 
          tcpSocket: 
            port: 8080 
          initialDelaySeconds: 5
        readinessProbe: 
          httpGet: 
            path: "/__gtg" 
            port: 8080 
          initialDelaySeconds: 10
          periodSeconds: 30 
        resources: 
{{ toYaml .Values.resources | indent 12 }}

